*.iml
.DS_Store
.cxx/
.externalNativeBuild/
/.gradle/
/.idea/assetWizardSettings.xml
/.idea/caches/
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/libraries/
/.idea/migrations.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/runConfigurations.xml
/.idea/shelf/
/.idea/workspace.xml
/build/
/captures/
/local.properties
